.mcp.json
.claude/*.*
.env.local
*.swp
node_modules/
package-lock.json
node_modules/*

# Terminal Paste Image folder
.cp-images/

.agent/
.claude/
.cursor/
.github/
.git/
.husky/
.opencode/
.playwright-mcp/
.pmpm-store/
.serena/
.vscode/
.dist/
dist/
tools/
supabase/
supabase/*.temp
playwright-report/
supabase/.temp/cli-latest
