.mcp.json
.claude/*.*
.env.local
node_modules/
package-lock.json
node_modules/*

# Terminal Paste Image folder
.cp-images/

.agent/
.claude/
.codex/
.cursor/
.github/
.git/
.husky/
.opencode/
.playwright-mcp/
.pmpm-store/
.serena/
.shrimp-data/
.vscode/
.dist/
tools/